.env
config.js
*.json
!persons.json
!Chesapeake_Bay_Shoreline_Low_Resolution.json
*.csv

venv
*.pyc
dist
node_modules
src
.babelrc
webpack.config.js
test-app
!ResearchPapers.json
references
!features_list.json
__pycache__
# AI ignores
*.txt.faiss
*.txt.pkl
MergeTest.faiss
statData/
loaddocs.py
*.xlsx
markdown_buffer.py
mergeDatabase.py
builddata.py
helpers/

# Ignore MacOS DS_Store file
.DS_Store
**/.DS_Store

# Ignore files in vectordb_data directory but keep the directory
**/vectordb_data/*
