flask
flask-cors
pandas
python-dotenv
mysql-connector-python
mysql
mysqlclient
scipy
numpy
langchain-community
faiss-cpu
SQLAlchemy
uvicorn
python-docx
pywebview
pyinstaller
duckduckgo-search
arxiv
itsdangerous
langchain-openai
langchain-core
langchain-text-splitters
pydantic

