docx
fastapi
Flask
flask_cors
geopy
googlemaps
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
matplotlib
mysql-connector-python
numpy
pandas
plotly
pydantic
python-dotenv
scipy
faiss-cpu
SQLAlchemy
uvicorn
python-docx
pywebview
pyinstaller
duckduckgo-search
arxiv