.page-container{
    width: 100vw;
    height: 104vh;
    background-color: #e5e9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%; /* set page container under navbar */
}

.content-box{
    width: 85%;
    height: 70%;
    margin: 4% auto 0 auto;
    background-color: white;
    border-radius: 1em;
    display: flex;
}

.input-container, .output-container, .neural-model-container{
    margin: 3%;
    height: auto;
}


.input-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    z-index: 3;
}

.slidecontainer h1{
    font: italic normal normal 1.2rem Roboto;
    color: #0A2B57;
    font-weight: 600;
}

.input-container > span{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neural-model-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(1em);
    width: 30%;
}

.neural-model-container > .neural-model{
    height: 100%;
    width: 100%;
}

.output-container{
    height: auto;
    width:25%;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 0;
    margin-right: 0;
    gap: .2em;
    justify-content: center;     
    align-items: center; 
    
    gap: -2%;
}

.neural-model-container h1{
    font: italic normal normal 1.5rem Roboto;
    color: #0A2B57;
    font-weight: 600;
}


.location-label {
    text-align: center;
    font-size: 1.2em;
    margin-top: -.5em; 
    font: normal normal normal 1rem Roboto;
    color: #0A2B57;
    font-weight: 600;
    margin-bottom: 0;
}


.wave-container {
    width: 40%;
    height: 25%;
    border: 3px solid black; 
    position:relative;
    justify-content: center;     
    align-items: center;         
    box-sizing: border-box;
    display: flex;
    z-index: 100000;
    margin-bottom: 20px;
    overflow: hidden;
}

.wave-container h1 {
    font: normal normal normal 1.75rem Roboto; 
    color: #0A2B57;                        
    font-weight: 600;                        
    margin: 0;                              
    z-index: 100001;                         
    text-align: center;        
    position: absolute;                      
    top: 50%;                                
    left: 50%;                               
    transform: translate(-50%, -50%);       
    background: transparent;
    line-height: 1;           
}


/* change background position to change height of water 
   min height = 100%
   max height = 275%
   Change height accordingly from 100% to 275%
*/
.wave-container #baltimore, .wave-container #chester, .wave-container #downstream, .wave-container #powerplant{
    width: 100%;
    height: 100%;
    max-height: 275%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    background-image: url('../images/wave.png');
    background-size: contain;  
    background-repeat: repeat-x;
    animation: flow 10s linear infinite;
    bottom: 0;
    filter: brightness(1.5);
    overflow: auto;
}

/* background-postion: x y; change y to change height (best range for image .2em-6em) */
@keyframes flow{
    0%{
        background-position: 0px 3em;
    }
    100%{
        background-position: 1000px 3em;
    }
}

.slidecontainer{
    width: 88%;
    margin: 0 auto;
}

 
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 3px; 
    background: #191919; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  
  .slider:hover {
    opacity: 1; 
  }
  

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
  }

  .slidecontainer .grey-box{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: linear-gradient(to left, #142A54, #50BAB6);
    font: normal normal normal 10px/24px Roboto;
    color: #1A1A1A;
    height: 3em;
    width: auto;
    margin-bottom: 1em;
  }

  .slidecontainer p{
    margin: 0 0 1em 0;
    font: normal normal bold 16px/24px Roboto;
    color: #1A1A1A;
  }

  .ticks{
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tick-label{
    font: normal normal normal 12px/24px Roboto;
    color: #1A1A1A;
    user-select: none;
  }
