.page-container{
    width: 100vw;
    height: 100vh;
    background-color: #e5e9ed;
    padding-top: 6%;
}

.content-container{
    width: 85%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.output-container, .input-container{
    width: 50%;
    height: 100%;
}

.output-container{
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.289);
}

.input-container{
    display: flex;
    flex-direction: column; 
    gap: 2em;
}

.top-input, .bottom-input{
    height: 50%;
    width: 100%;
}

.bottom-input{
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.289);
}

.top-input{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.top-left-input, .top-right-input{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.289);
}

/* Gauge Styling */
#gauge{
    height: 100%;
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.top-left-input h1, .top-right-input h1, .bottom-input h1{
    font: italic normal normal 18px/24px Roboto;
    color: #0A2B57;
    font-weight: 600;
    margin: 12% 0 0 12%;
}

.bottom-input h1{
    margin: 6% 0 6% 6%;
}

.slidecontainer{
    width: 88%;
    margin: 0 auto;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: #191919; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slidecontainer .grey-box{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: #E5E9ED;
    font: normal normal normal 10px/24px Roboto;
    color: #1A1A1A;
    height: 2em;
    width: auto;
    padding-right: 2%;
    margin-bottom: 1em;
  }

  .slidecontainer p{
    margin: 0 0 1em 0;
    font: normal normal bold 16px/24px Roboto;
    color: #1A1A1A;
  }

  .ticks{
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tick-label{
    font: normal normal normal 12px/24px Roboto;
    color: #1A1A1A;
  }

  .weather-options{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 11%;
    margin-top: 8%;
  }

  .weather-options input{
    margin-right: 1em;
  }
