/*
CSS for index.html to syle the landing/coming soon page
*/

/* defines a flex to split to page into 2 halfs (div/img) */

.page-content{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin: 10% auto;
    z-index: 1;
}

.page-content > div{
    width: auto;
    padding: 0 0 30px 0;
    z-index: 1;
}
.page-content h1{
    align-items: center;
    text-align: center;
    font-size: 60px;
    color:white;
    text-align:left;
    font: normal normal bold 50px/55px Roboto;
}

 .page-content img{
    border-radius: 50%;
    width: 460px;
    height: 460px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.126);
    z-index: 1;
 }

 .page-content p{
    color: white;
    font:normal normal normal 16px/24px Roboto;
    text-align:left;
 }

 .journey a:link{
    color: white;
 }

 .journey a:visited{
    color: white;
 }

 .journey a:hover{
    color: black;
    transition: 0.2s;
 }

 .journey h1{
    font: normal normal bold 35px/43px Roboto;
 }

 .journey p{
    font: italic normal normal 20px/28px Roboto;
    font-style: italic;
    font-weight: 500;
 }


 @media screen and (max-width: 650px) {

    .page-content{
        display:contents;
    }

    .page-content img{
        margin: 0 auto;
     }

     .page-content h1{
        font: italic normal bold 35px/48px Roboto;
        padding-top: 10%;
     }

     .page-content p{
        font: normal normal normal 14px/22px Roboto;
     }

     .page-content > div{
        width: 85%;
        margin: 0 auto;
     }

     .page-content img{
        height: 70%;
        width: 70%;
        display: block;
        margin: 20px auto 20px auto;
        z-index: 2;
     }

     .journey h1{
        font: normal normal bold 22px/30px Roboto;
        margin: auto 0 5px 0;
     }
    
     .journey p{
        font: italic normal normal 16px/24px Roboto;
        font-weight: 500;
        margin: 5px 0;
     }

     
 }

 












 