/*
Author: William Lamuth

Purpose: This file provides styling for index.html to syle the landing/coming soon page.

Date: 10/31/2024
*/

/* defines a flex to split to page into 2 halfs (div/img) */


.page-content{
   width: 85%;
   height: 100%;
   display: flex;
   margin:8% auto;
   flex-direction: column;
}
.block-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
    z-index: 1;
}

.block-1 > div{
    width: auto;
    margin-right: 8%;
    z-index: 1;
}
.block-1 h1{
    align-items: center;
    text-align: center;
    font-size: 60px;
    color:white;
    text-align:left;
    font: normal normal bold 50px/55px Roboto;
    margin:10px 0 10px 0;
}

.block-1 h2{
   color:white;
   font: italic normal bold 20px/28px Roboto;
   font-weight: 500;
   margin:0;
   padding:0;
}

 .block-1 img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.126);
    z-index: 1;
 }

 .block-1 p{
    color: white;
    font:normal normal normal 16px/24px Roboto;
    text-align:left;
    margin:10px 0 10px 0;
 }

.block-2{
   height: fit-content;
   width: 100%;
   background-color: white;
   z-index: 2;
   margin-top: -5%;
   padding-top: 3em;
   padding-bottom: 4em;
 }

 .block-2-content{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
   color: #0A2B57;
   gap:3em;
 }


 .block-2-content h1{
   padding: 0 0 0 7.5%;
 }

 .block-3{
   height: fit-content;
   width: 100%;
   background-color: rgb(152, 152, 152);
   z-index: 2;
   display: flex;
   flex-direction: row;
   gap:0;
 }

 .block-3-A{
   background-color: #E5E9ED;
   width: 50%;
   height: auto;
   padding: 3% 3% 3% 7.5%;
   box-sizing: border-box; /* Ensures padding is included in the width */
   color: #0A2B57;
 }

 .block-3-B{
   background-color: #0A2B57;
   width: 50%;
   height: auto;
   padding: 3% 7.5% 3% 3%;
   color: white;
   box-sizing: border-box; /* Ensures padding is included in the width */
 }

 .block-4{
   height: fit-content;
   width: 100%;
   background-color: rgb(255, 255, 255);
   z-index: 2;
 }

 .block-4-content{
   width: 100%;
   height: auto;
   color: #0A2B57;
   padding: 3% 7.5% 3% 7.5%;
   box-sizing: border-box; /* Ensures padding is included in the width */
   display: flex;
   flex-direction: column;
   gap: 1em;
 }

 .step-1, .step-2, .step-3, .step-4, .step-5{
   display: flex;
   flex-direction: row;
   gap: 1em;
   align-items: center;
 }

 .step-description p{
   margin: 0;
 }

 .step-title{
   font: italic normal bold 20px/28px Roboto;
   font-weight: 500;
 }

 .step-instruction{
   font: normal normal normal 16px/24px Roboto;
 }

 .create-account-btn{
   background-color: #289D7A;
   border-radius: 20%;
   border: none;
 }

.block-2-split{
   display: flex;
   flex-direction: row;
   gap: 0;
   margin-top:-3%;
}

.block-2-split img{
   width: 200px;
   height: 200px;
}

.block-2-A, .block-2-B{
   display: flex;
   flex-direction: row;
   width: 50%;
   height: auto;
   align-items: center;
   box-sizing: border-box;
   padding: 0 5% 0 0;
   gap: 1em;
}

.block-2-A{
   padding-left: 7.5%;
}

.block-2-B{
   padding-right: 7.5%;
}

.block-2-A-description, .block-2-B-description{
   margin-right: 5%;
}

.block-2-A p, .block-2-B p{
   margin:0;
}

.p-1{
   font: italic normal normal 20px/24px Roboto;
   font-weight: 500;
}

.p-2{
   font: normal normal normal 16px/24px Roboto;
}

.create-account-btn{
   background-color: #289d7a;
   border-radius: 23px;
   border: none;
   color: white;
   width: 180px;
   height: 40px;
   font: normal normal bold 16px/26px Roboto;
   cursor: pointer;
   margin-top: 2%;
}

.block-4 a, .block-4:visited{
   color: white;
   font: normal normal bold 16px/26px Roboto;
   text-decoration: none;
}

.block-3 a:visited{
   color: black;
}

 @media screen and (max-width: 650px) {

    .block-1{
        display:contents;
    }

    .block-1 img{
        margin: 0 auto;
     }

     .block-1 h1{
        font: italic normal bold 35px/48px Roboto;
        padding-top: 10%;
     }

     .block-1 p{
        font: normal normal normal 14px/22px Roboto;
     }

     .block-1 > div{
        width: 100%;
         margin:0;
     }

     .block-1 img{
        height: 70%;
        width: 70%;
        display: block;
        margin: 20px auto 20px auto;
        z-index: 2;
     }

     .block-2{
         padding-top: 1rem;
     }

     .block-2-split{
      flex-direction: column;
      gap: 3em;
      margin-top: 1em;
      padding-bottom: 4em;
   }
   .block-2 h1{
      padding: 0;
      margin: 5% 5% 0 8%;
   }

   .block-2-A, .block-2-B{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      align-items: center;
      box-sizing: border-box;
      padding: 8%;
      gap: 1em;
   }

   .block-2-split img{
      width: 40%;
      height: 45%;
   }

   .block-3{
      height: fit-content;
      width: 100%;
      background-color: rgb(152, 152, 152);
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap:0;
    }

    .block-3-A{
      background-color: #E5E9ED;
      width: 100%;
      height: auto;
      padding: 8%;
      box-sizing: border-box; /* Ensures padding is included in the width */
      color: #0A2B57;
    }
   
    .block-3-B{
      background-color: #0A2B57;
      width: 100%;
      height: auto;
      padding: 8%;
      color: white;
      box-sizing: border-box; /* Ensures padding is included in the width */
    }

    .page-content{
      margin: 5% auto;
    }

    .block-4-content{
      gap: 2.5em;
    }



 }

 












 