:root{
  --legend-bg-color: #E5E9ED;
  --salcast-green: #289D7A;
  --black: #1A1A1A;
  --dark-blue: #0A2B57;
  --legend-border-color: #0A2B5780;
}

.new-legend-container{
  width: 36%;
  height: auto;
  background-color: var(--legend-bg-color);
  padding-left: 4%;
  padding-top: 6%;
  
}

.legend-box{
  width: 76%;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: .5px solid var(--legend-border-color); 
  border-radius: .5em;
}


#legend-heading{
  width: 100%;
  height: 10%;
  background-color: var(--salcast-green);
  display: flex;
  align-items: center;
  border-radius: .5em .5em 0 0;
}

#legend-heading > p{
  color: white;
  font: italic normal normal 20px/28px Roboto;
  font-weight: 500;
  margin-left: 5%;
}

.legend-content{
  height: 90%;
  width: 100%;
  background-color: #ffffff;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 0 0 .5em .5em;
  overflow-y: scroll;
}

.content-scroll{
  width: 100%;
  height: auto;
  
}
.content-scroll hr{
  margin: .5em auto .5em auto;
  border: 2px solid var(--legend-bg-color);
}

.Usage-heading, .Salinity-heading{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Usage-heading p, .Salinity-heading p{
  margin: 0;
  font: normal normal bold 16px/24px Roboto;
  color: var(--black);
}

.content-split{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap:1em;
  padding-top: 1em;
}

.left-content, .right-content{
  width: 50%;
}

.usage-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  margin:-1.5em auto -1.5em auto;
}

.usage-type img{
  width: 1em;
  height: 1em;
}

.usage-type p{
  font: normal normal normal 14px/24px Roboto;
  color: var(--black);
}

.usage-type span{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

input[type=checkbox] {
  transform: scale(1.2);
  accent-color: var(--dark-blue);
}

input[type="radio"]{
  transform: scale(1.5);
  margin-right: 1em;
  accent-color: var(--dark-blue);
}

.long-short-term{
  display: flex;
  gap:1.5em;
  margin: 1em auto 1em auto
}

.long-short-term label{
  font: normal normal normal 16px/24px Roboto;
  color: var(--dark-blue);
}

input[type="radio"]:checked+label { 
  font-weight: bold; 
}

.range-box{
  height: 13%;
  width: 76%;
  background-color: white;
  background-image: url('../images/short-range.png');
  background-size: 100%;
  border: .5px solid var(--legend-border-color);
  border-radius: .5em;
  background-size:cover;  
  background-position: center; 
  background-repeat: no-repeat;
}

#legend-btn{
  height: 6%;
  width: 76%;
  background-color: var(--salcast-green);
  border: none;
  color: white;
  border-radius: 5em;
  font: normal normal bold 16px/26px Roboto;
  margin: 2em auto 1em auto;
  cursor: pointer;
}




 




