/*
CSS for the navbar
*/

.navtop {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border: 0;
    position:fixed;
    z-index: 2;
    top:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navtop div {
    display: flex;
    width: auto;
    height: 100%;
}
.navtop div h1, .navtop div a{
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
    margin-left: 100px;
}
.navtop div a {
    text-decoration: none;
    color: #1A1A1A;
}
.navtop .nav-options span {
    padding: 3px 6px;
    font-size: 20px;
    font: normal normal normal 18px Roboto;
    margin: 0 15px 0 15px;
}
.navtop .nav-options a span:hover{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: #1A1A1A;
    transition: 0.3s;
}

/* highlight the current page on the nav bar */
.navtop .nav-options .active{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color:  #1A1A1A;
    font: normal normal bold 18px/24px Roboto;
}

.nav-options{
    background-color: #5d86e700;
    border-radius: 30px;
    margin-right: 30px;
}

.navtop .grey-back {
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #E5E9ED;
    padding: 0 10px;
    height: 80%;
    margin: auto 0; /* Vertically center the container */
}

.navtop .login-container{
    border-radius: 30px;
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.navtop .button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 30px;
    padding: 0 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
}

.navtop .button span {
    color: white;
    text-align: center;
    line-height: 1em;
    font-size: 14px;
}

.login-logout {
    display: flex;
    align-items: center; /* Vertically center the items */
}

.login-logout span{
    padding: 8px 40px;
    background-color: #289D7A;
    border-radius: 20px;
    color: white;
    margin: 0 20px 0 20px;
}

#WCAG-icon{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-link{
    margin-right: 50px;
}








