/*
CSS for the navbar
*/

.navtop {
    width: 100%;
    height: 60px;
    background-color: white;
    position:fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}

/*
.nav-container{
    width: 100%;
    height: 60px;
    background-color: white;
    position:fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.navtop {
    background-color: white;
    height: 60px;
    width: 85%;
    border: 0;
    margin: 0 auto;
}
*/

.navtop #div1, .nav-options {
    display: flex;
    width: auto;
    height: 100%;
}
.navtop div h1, .navtop div a, .navtop div a i{
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}

.navtop div h1 img{
    position: fixed;
    padding-left: 5%;
    width:6.2em; 
    height:1.8em;
}

.navtop div a{
    text-decoration: none;
    color: #0a2b57;
    user-select: none;
}
.navtop .nav-options span{
    padding: 3px 6px;
    font-size: 20px;
    font: normal normal normal 18px Roboto;
    margin: 0 15px 0 15px;
}
.navtop .nav-options a span:hover{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: #1A1A1A;
    transition: 0.3s;
}

/* highlight the current page on the nav bar */
.navtop .nav-options .active{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color:  #0a2b57;
    font: normal normal bold 18px/24px Roboto;
}

.nav-options{
    background-color: #5d86e700;
    border-radius: 30px;
    margin-right: 30px;
}

.navtop .grey-back {
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #E5E9ED;
    padding: 0 10px;
    height: 80%;
    margin: auto 0; /* Vertically center the container */
}

.navtop .login-container{
    border-radius: 30px;
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.navtop .button {
    background-color: #289d7a; /* Green */
    border: none;
    border-radius: 30px;
    padding: 0 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    position:relative;
}

.navtop .button:hover {
    background-color: #0a2b57; /* Ensure the color stays the same on hover */
}

.navtop .button.active {
    background-color: #0a2b57; /* Active background color */
}

.navtop .button.active span {
    color: #DBEFD4; /* Active text color */
    font-weight: bold; /* Active text weight */
}

.navtop .button span {
    color: white;
    text-align: center;
    line-height: 1em;
    font: normal normal normal 14px/22px Roboto;
}

.navtop .button:hover span {
    text-align: center;
    line-height: 1em;
    font: normal normal bold 14px/22px Roboto;
    letter-spacing: 0px;
    color: #DBEFD4;
}

.navtop .button .account-options {
    display: none; /* Initially hidden */
    position: absolute;
    top: calc(100% + 10px); /* Position the pop-up below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 170px;
}

.navtop .button .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px; /* Position triangle above the pop-up */
    left: 50%;
    transform: translateX(-50%);
}


/* Hide the link that should open and close the topnav on small screens */
.nav-options .icon, .small-bar a span{
    display: none;
}

.small-bar-responsive{
    display: none;
    padding: 10px;
}

.small-bar-responsive a{
    text-decoration: none;
    padding: 15px;
    color: #1A1A1A;
    font: normal normal normal 14px/24px Roboto;
}

.small-bar-responsive a span:hover{
    background-color: #DBEFD4;
    border-radius: 5px;
    transition: 0.3s;
}

.small-bar-responsive .active{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color:  #1A1A1A;
    font: normal normal bold 14px/24px Roboto;
}

.fa{
    font-size: 30px !important;
}

.fa-bars{
    color: #2cac86; 
    cursor: pointer; 
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav-options a span{
        display: none;
    }

    .nav-options a.icon {
        display: contents;
    }

    .navtop div h1 img{
        width:70%;
        height: 70%;
    }

}
@media screen and (max-width: 600px) {
    .small-bar a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .small-bar-responsive a span{
        padding: 10px 20px;
    }

    .small-bar-responsive{
        background-color: white;
        height: 150px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 20px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .small-bar a span{
        display: none;
    }

}


body{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #142A54 , #50BAB6);
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  .content {
    width: auto;
    height: auto;
    margin-top: 60px;
  }









