/*
CSS for the navbar
*/

.navtop {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border: 0;
    position:fixed;
    z-index: 2;
    top:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
.navtop div h1, .navtop div a{
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
}
.navtop div a {
    padding:10px;
    text-decoration: none;
    color: #1A1A1A;
}
.navtop .nav-options span {
    padding: 3px 6px;
    font-size: 20px;
    font: normal normal normal 18px Roboto;
}
.navtop .nav-options a span:hover{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: #1A1A1A;
}

/* highlight the current page on the nav bar */
.navtop .nav-options .active{
    background-color: #DBEFD4;
    border-radius: 5px;
    width: auto;
    height: auto;
    color:  #1A1A1A;
    font: normal normal bold 18px/24px Roboto;
}

.nav-options{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5d86e700;
    border-radius: 30px;
}

#profile-icon{
    width:2.5em; height:2.5em;
    background-color: #142A54;
    border-radius: 20px;
}

#profile-icon:hover{
    background-color: #289D7A;
    border-radius: 20px;
}

.login-logout{
    margin: 0 20px 0 0;
}
.login-logout span{
    padding: 8px 40px;
    background-color: #289D7A;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}






