/* popup window styling*/
#popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px;
    z-index: 1000;
    height: 700px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

.popup-content{
    height:600px;
    overflow-y: scroll; /*Enable vertical scrollbar always*/
    padding: 15px;
}

/* finds class="info-window" ands sets styling*/
.info-window {
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 8px;
    border-radius: 1px;
    word-wrap: break-word;
    border: 1px solid #ccc;
}

/* sets title color to black*/
.info-window strong{
    color: #333;
}

/*styling for popup close button 'X' */
#close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: white;
}

/*sets overlay once popup appears*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
    display: none; 
    cursor: pointer;
}

/*styling for view more button*/
#view-more-button{
    padding: 5px 15px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    background-color: lightgray;
    color: black;
}

/*changes view more colors on hover*/
#view-more-button:hover{
    background-color: rgb(70, 86, 126);
    color: white;
    transition: 0.5s;
}

/*handles style and positioning of popup title*/
.popup-title {
    position: relative;
    left: 0;
    background-color: rgb(70, 86, 126);
    top: 0;
    padding: 20px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 500;
}

/* handles styles and position of popup contents */
.header-paragraph{
    position: relative;
    text-align: left;
    color: rgb(70, 86, 126);
    margin: 20px;
}

.header-paragraph p{
    position: relative;
    text-align: left;
    margin: 20px;
    color: black;
    margin-top: 0;
}

.text{
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.button-container{
        display: flex;
        gap: 10px; /* Add space between the elements */
}


#locationpin-container{
    padding: 5px 10px; 
    border-radius: 20px;
    margin-top: -10px;
    height: 42px;
    border: none;
    cursor: pointer;
    align-items: center;
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
}
#locationpin-container p {
    margin: 0;
    font-size: 14px; /* Text size for 'Pin Location' */
    text-align: center; /* Center align the text */
    margin-bottom: 10px; /* Space between the text and buttons */
  }

#button-wrapper {
    display: flex;
    gap: 5px; /* Adds spacing between the buttons */
    margin-top: -10px; /* Adds some space above the buttons */
  }
  
 
  #errorpopup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px;
    z-index: 1000;
    height: 170px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15%;
     overflow: hidden; 
     padding-top: 3em;
  }
  #errorpopup p{
    width: 90%;
    max-width: 400px;
    margin: 0 auto; /* Center the p element */
    background: #fff;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
   
    
   
  }
  
  #error-response-container{
    display: flex;
    padding-top: 20%;
    width: 100%;
    height: 100%;

  }
  
  .error-response-button{
    width:50%;
    display: block;
    position: relative;
    border:none;
    height: 5em;
    margin-top:-5%
  }
  .error-content{
    display: flex;
    flex-direction: column;
    position: relative;


  }

  .yes-button{
   background-color: #fc7169;
   line-height: 60px;
   text-transform: uppercase;
   color: #fff;
  }
  .no-button{
   background-color: #b6bece;
   line-height: 60px;
   text-transform: uppercase;
   color: #fff;
  }