@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body, html {
    height: 100%;
    margin: 0;
}

.register-form-container {
    display: inline-block;
    background-color: white;
    height: auto;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
}

.offset {
    position: relative;
    width: 95%;
}

.tags-container {
    background-color: #e9e5ed;
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.main-title {
    color: #0a2b57;
    text-align: left;
    font: normal normal bold 35px/43px Radio Canada Big;
    letter-spacing: 0px;
}

.saltcast {
    text-align: left;
    font: italic normal bold 35px/43px Radio Canada Big;
    letter-spacing: 0px;
    color: #289D7A;
}

.offset h3 {
    text-align: left;
    font: italic normal 600 20px/28px 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #0B2B57;
    opacity: 1;
}

.register-form-container input[type=text], .register-form-container input[type=password], .register-form-container input[type=email] {
    width: 30%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
    color: #1A1A1A;
    margin: 0 20px 20px 0;
    border: none;
    background: rgba(229, 233, 237, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.offset .standard-text {
    text-align: left;
    padding: 3px 0;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
    user-select: none;
}

.toggle-slider {
    height: 30px;
    width: 60px;
    border-radius: 15px;
    background-color: #0a2b57;
    cursor: pointer;
}

.toggle-slider .slider-center {
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    left: 10%;
    top: 13%;
    background-color: #b7e2ba;
    cursor: pointer;
}

.toggle-slider.active .slider-center {
    left: auto; /* Resets left */
    left: 54%; /* Moves the slider to the right */
}
.option-container {
    display: inline-block;
    height: auto;
    padding-bottom: 4%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 50%; 
    margin: 40px 40px 0 0;
    background-color: white;
    border-radius: 5px;
}

.tags-container input {
    display: block; /* Ensures inputs stack vertically */
    margin: 1% 0; /* Spacing between inputs */
}

.pricing-text {
    text-align: left;
    font: normal normal normal 22px/24px Radio Canada Big;
    letter-spacing: 0px;
    color: #289D7A;
}

.bold-description {
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
    display: block;
    margin-top: 10px;
}

.option-container .delimeter {
    background-color: #0a2b57;
    height:1px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-location {
    position: relative;
    height: 40%;
    width: 100%;
}

.button-location .select-button {
    height: 45px;
    width: 95px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #289D7A;
    border-radius: 23px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal bold 16px/26px Roboto;
    letter-spacing: 0px;
    color: #289D7A;
    opacity: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button-location .select-button.active {
    width: 113px;
    background: #0a2b57 0% 0% no-repeat padding-box;
    border: 2px solid #0a2b57;
    color: #b7e2ba;
}