@import 'legendStyle.css';
@import 'popupStyle.css';
@import 'searchbar.css';
@import 'graph.css';
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 .map-page-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
 #map {
  height: 100%;
}
#map-container {
  position: relative;
  height: auto;
  width: 64%;
}

