:root{
  --gray: #E5E9ED;
  --salcast-green: #289D7A;
  --black: #1A1A1A;
  --dark-blue: #0A2B57;
  --saltcast-light-green: #b7e2ba;
  --white: #FFFFFF;
}

.outer-container{
  width: 100%;
  background-color: var(--white);
 
}

.row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    z-index: 1;
}

.column {
    width: 23%;
    box-sizing: border-box;
    z-index: 1;
  }

  .card {
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
    width: 100%;
    margin: 20px auto 20px auto;
    z-index: 1;

  }

  .contact-split-container{
    width: auto;
    height: auto;
  }

  .container-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height:100%;
    margin: 0 auto;
    z-index: 1;
    background-color: var(--white);
  }

  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: -20%;
  }

  .mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 220px;
    margin: 0 auto;
  }
  
  .title {
    color: grey;
  }
  
  .button:hover {
    background-color: #555;
  }

  .mini-container h2, .mini-container p{
    margin-bottom: -5px;
    color: rgb(0, 0, 0);
  }

  .mini-container > h2{
    margin-top: 20%;
    font: italic normal normal 20px/28px Roboto;
    font-weight: 500;
    color: var(--dark-blue);
  }

  .mini-container > .title{
    font: normal normal bold 16px/24px Roboto;
  }

  .mini-container > p{
    font: normal normal normal 16px/20px Roboto;
  }

  .top-content-container{
    width: 100%;
    background-color: var(--gray);
  }

  .contact-top-content{
    width: 85%;
    height: fit-content;
    margin: 0 auto;
    z-index:2;
    background-color: var(--gray);
    padding: 3% 0;
  }

  .top-content-text{
    color:rgb(0, 0, 0);
  }

  #line-1{
    font: normal normal bold 50px/55px Roboto;
    margin-bottom:0;
    color: var(--dark-blue);
  }

  #line-2{
    font: italic normal bold 20px/28px Roboto;
    color: var(--dark-blue);
    font-weight: 500;
  }

  .team-header-container{
    background-color: var(--white);
    width:100%;
  }

  #team-header{
    height: 70px;
    width: 85%;
    margin: 0 auto;
    background-color: var(--white);
    padding:50px 0 0 0;
    color: var(--dark-blue);
  }
  #team-header h1{
    font: normal normal bold 35px/43px Roboto;
  }

.submit-form{
  width:auto;
}

.form{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7em;
  font: normal normal normal 16px/24px Roboto;
}

.user-info{
  width: 60%;
}
.user-info input{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.user-message{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-message #message{
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 10px;
  resize: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.user-message #submit-button{
  background-color: var(--salcast-green);
  border-radius: 23px;
  border: none;
  color: var(--white);
  width: 101px;
  height: 45px;
  font: normal normal bold 16px/26px Roboto;
  cursor: pointer;
}

.user-message #submit-button:hover{
  background-color: var(--salcast-green);
  width: 110px;
  height: 45px;
  transition: .3s;
}

.submit-container {
  align-self: flex-end;
}

#ContactUs-button{
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--dark-blue);
}

#ContactUs-button a{
  text-decoration: none;
}

#MeetTeam-button{
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--dark-blue);
}

#MeetTeam-button:hover, #ContactUs-button:hover{
  background-color: #cacaca;
  transition: .3s;
}

#MeetTeam-button a{
  text-decoration: none;
}


a:link{
  color: rgb(0, 0, 0);
}

a:visited{
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }

  .row{
    display: contents;
  }

  .form{
    flex-direction: column;
    gap: 0;
  }

  .contact-top-content{
    height: 750px;
  }

  .user-info{
    width: 100%
  }

  .user-info input{
    width: 100%;
    height: 45px;
  }

  .user-message #message{
    width: 100%;
    height: 80px; 
  }

  .submit-container {
    align-self: flex-start;
  }

  .mini-container{
    display: block;
    width: 100%;
    padding: 0;
    height: 200px;
    word-wrap: break-word;
  }

  #team-header{
    height: 130px;
  }

  .mini-container > h2{
    margin-top: 16%;
    font: italic normal normal 16px/24px Roboto;
    font-weight: 500;
  }

  .mini-container > .title{
    font: normal normal bold 14px/22px Roboto;
  }

  .mini-container > p{
    font: normal normal normal 14px/22px Roboto;
  }
  
  .image-container{
    margin-bottom: -20%;
  }

  



  
}





 