<!--
Team Page: Displays all team members
Authors: William Lamuth, Nicholas Gammel

Description: 
This page has the contact us and team member descriptions.
Users can use the contact us to send email notifications to the team email specified in About.py
-->
{% extends 'layout.html' %}

{% block title %}Team Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/teamPage.css') }}">

    <div class="contact-split-container">

        <div class="top-content-container">
            <div class="contact-top-content" id="Contact-Us">
                <div class="top-content-text">
                    <h1 id="line-1">Contact Us</h1>
                    <p id="line-2">We would love to hear from you!</p>
                </div>
                <div class="submit-form">
                    <!-- <form action="">  set action = to backend -->
                    <form action="{{ url_for('aboutus') }}" method="post">
                        <div class="form">
                            <div class="user-info">
                                <label for="fname">First name</label><br>
                                <input type="text" id="fname" name="fname" required><br>
                                <label for="lname">Last name</label><br>
                                <input type="text" id="lname" name="lname" required><br>
                                <label for="email">Email</label><br>
                                <input type="text" id="email" name="email" required><br>
                            </div>
                            <div class="user-message">
                                <div>
                                    <label>Message</label><br>
                                    <textarea type="text" id="message" name="message" required></textarea><br>
                                </div>
    
                                <div class="submit-container">
                                    <input type="submit" value="Submit" id="submit-button">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="team-header-container">
            <div id="team-header">
                <h1>Meet The Team</h1>
            </div>
        </div>

        <!--Javascript to loop through persons.json and create person boxes-->
        <div class="outer-container">
            <div class="container-aboutUs" id="cards-container"></div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                const container = document.getElementById('cards-container');
                fetch('static/json/persons.json')
                .then(response => response.json())
                .then(persons => {
                    container.innerHTML = returnCards(persons);
                });
            });

            function returnCards(persons) {
                const columns = 4;
                let html = "";

                for (let i = 0; i < persons.length; i += columns) {
                    html += '<div class="row">';
                    for (let j = i; j < i + columns && j < persons.length; j++) {
                        const person = persons[j];
                        html += `
                            <div class="column">
                                <div class="card">
                                    <div class="image-container">
                                    <img src="${person.image}" referrerpolicy="no-referrer" alt="${person.name}" style="width:80%; height:80%;">
                                    </div>
                                    <div class="mini-container">
                                        <h2>${person.name}</h2>
                                        <p class="title">${person.title}</p>
                                        <p>${person.description}</p>
                                    </div>
                                </div>
                            </div>`;
                    }
                    html += '</div>';
                }

                return html;
            }
        </script>
        </div>

    </div>
    


{% endblock %}