{% extends 'layout.html' %}

{% block title %}Antonia{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/antoniaPage.css') }}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/navigator.js"> </script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="module" src="{{url_for('static',filename='js/Antonia.js')}}"></script>

<div class="page-container">
    <div class="content-container">
        <div class="output-container">
            <div id="gauge"></div>
        </div>
        <div class="input-container">
            <div class="top-input">
                <div class="top-left-input">
                    <h1>Weather Type</h1>
                    <div class="weather-options">
                        <span>
                            <input type="radio" id="Sunny" name="weather" value="Sunny"><label for="Sunny" checked>Sunny</label>
                        </span>
                        <span>
                            <input type="radio" id="Rain" name="weather" value="Rain"><label for="Rain">Rain</label>
                        </span>
                        <span>
                            <input type="radio" id="Windy" name="weather" value="Windy"><label for="Windy">Windy</label>
                        </span>
                        <span>
                            <input type="radio" id="Snow" name="weather" value="Snow"><label for="Snow">Snow</label>
                        </span>
                    </div>
                </div>
                <div class="top-right-input">
                    <h1>Time Index</h1>
                    <form class="form-container">
                        <label for="time" class="form-label">Select time:</label>
                        <div class="relative">
                            <div class="icon-container">
                                <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input type="time" id="time" class="time-input" min="09:00" max="18:00" value="00:00" required />
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom-input">
                <h1>Resevoir Level</h1>
                <div class="slidecontainer">
                    
                    <div class="grey-box"></div>
                    <input type="range" min="0" max="100" value="100" class="slider" id="myRange">
                    <div class="ticks">
                        <!-- Create tick marks at increments of 10 -->
                        <div class="tick"><span class="tick-label">0</span></div>
                        <div class="tick"><span class="tick-label">10</span></div>
                        <div class="tick"><span class="tick-label">20</span></div>
                        <div class="tick"><span class="tick-label">30</span></div>
                        <div class="tick"><span class="tick-label">40</span></div>
                        <div class="tick"><span class="tick-label">50</span></div>
                        <div class="tick"><span class="tick-label">60</span></div>
                        <div class="tick"><span class="tick-label">70</span></div>
                        <div class="tick"><span class="tick-label">80</span></div>
                        <div class="tick"><span class="tick-label">90</span></div>
                        <div class="tick"><span class="tick-label">100</span></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}