{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="dashboard-flex-container">
    <div class="left-panel">
        <div class="center-container">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-container">
            <div class="square-containers">
                <img src="static\images\dashboard-temp-img.png" referrerpolicy="no-referrer" alt="dashboard img" style="width:100%; height:100%;">
            </div>
            <div class="square-containers">
                <img src="static\images\dashboard-temp-img2.png" referrerpolicy="no-referrer" alt="dashboard img" style="width:100%; height:100%;">
            </div>
        </div>
    </div>
</div>

{% endblock %}