<!--
Dashboard: Displays data on pinned map points
Authors: William Lamuth, Vincent Pham

Description: 
This page was created to expand upon the data points on the map.
Currently we do not use real data and the dashboard serves as a visualization for Kanika's Designs.
-->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/navigator.js"> </script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="dashboard-flex-container">
    <div class="left-panel">
        <div class="center-container">
            <h1>Dashboard</h1>
            <div class="projection-buttons">
                <div class="radio-item">
                    <input type="radio" id="shortTerm" name="projection" value="shortTerm" checked>
                    <label for="shortTerm"><span>Short Term Forecasting</span></label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="longTerm" name="projection" value="longTerm">
                    <label for="longTerm"> <span>Long Term Projection</span></label>
                </div>
            </div>
            <div class="bottom">
                <h5>Add Location 1</h5>
                <h5>Add Location 2</h5>
                <h5>Add Location 3</h5>
                <button>Export Dashboard</button>
            </div>
        </div>
    </div>
    <div class="right-panel">
        
        <div class="right-container">
            <div id = 'Location1-container'></div>
            <div id = 'Location2-container' style="width:85%"></div>
            <div id = 'Location3-container' style="width:85%"></div>
            </div>
           
            <script>
                function createpanel(Number){
                    return `
            <div class = "pinnedlocation-container">
            <p><span style="font-weight:bold;">Dropped Pin</span> at 0 ft </p>
            <p style="text-align: right;; padding-right: 1.7%;">
                <a href="https://saltcast.io/map" style=" color: #289D7A; ">Location ${Number}
                </a>
            </p>
           
           </div>
            <div class="square-containers">
                <h1>Salinity Concentration Forecast</h1>

                <div class="top-section">
                    <div class="radio-buttons">
                        <p>Salt Type:</p>
                        <div>
                            <span>
                                <input type="radio" id="Chloride" name="drone"><label for="Chloride">Chloride</label>
                            </span>
                            <span>
                                <input type="radio" id="Sodium" name="drone"><label for="Sodium">Sodium</label>
                            </span>
                        </div>
                    </div>

                    <div class="vertical-border"></div>
                        
                    <div class="slidecontainer">
                        <p>Time Range</p>
                        <div class="grey-box">FORECAST(days)</div>
                        <input type="range" min="1" max="60" value="60" class="slider" id="myRange.${Number}">
                        <div class="ticks">
                            <!-- Create tick marks at increments of 5 -->
                            <div class="tick"><span class="tick-label">0</span></div>
                            <div class="tick"><span class="tick-label">5</span></div>
                            <div class="tick"><span class="tick-label">10</span></div>
                            <div class="tick"><span class="tick-label">15</span></div>
                            <div class="tick"><span class="tick-label">20</span></div>
                            <div class="tick"><span class="tick-label">25</span></div>
                            <div class="tick"><span class="tick-label">30</span></div>
                            <div class="tick"><span class="tick-label">35</span></div>
                            <div class="tick"><span class="tick-label">40</span></div>
                            <div class="tick"><span class="tick-label">45</span></div>
                            <div class="tick"><span class="tick-label">50</span></div>
                            <div class="tick"><span class="tick-label">55</span></div>
                            <div class="tick"><span class="tick-label">60</span></div>
                        </div>
                    </div>

                    <!-- content that is only visible when longterm radio button selected -->
                    <div class="vertical-border" id="long-term-vert-bar"></div>

                    <div class="long-term-radio-buttons">
                        <p>Climate Simulator:</p>
                        <div class="split-layout">
                            <div class="labels">
                                <label for="None">None</label>
                                <label for="Low-Mid">Low-Mid (SSP 2.45)</label>
                                <label for="Mid-High">Mid-High (SSP 5.85)</label>
                            </div>
                            <div class="buttons">
                                <input type="radio" id="none" name="done2">
                                <input type="radio" id="Low-Mid" name="drone2">
                                <input type="radio" id="Mid-High" name="drone2">
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="horizontal-divider"></div>

                <div class ="top-salinitycharts">
                    <div id="dashboard-saltchart${Number}" style="width: 50%; height: 400px;"></div>
                    
                    <div id="dashboard-saltdial${Number}" style="width: 50%; height: 400px;"></div>
                </div>
                <div id="topchart-text"> 
                        <div class = "charttext-box">
                            <p><b>Ppm ranges explained:</b></p>
                            <p>&lt;100: What does this range mean</p>
                            <p>100-200: What does this range mean</p>
                            <p>200-300: What does this range mean</p>
                            <p>&gt;400: What does this range mean</p>
                        </div>
                        <div class = "charttext-box">
                            <p><b>Threshhold definitions:</b></p>
                            <p><b>Low:</b> Can expect this to happen</p>
                            <p><b>Medium:</b> Can expect this to happen</p>
                            <p><b>Mid-High:</b> Can expect this to happen</p>
                            <p><b>High:</b> Can expect this to happen</p>
                        </div>
                </div>
            </div>

  <div class="bottom-square">
                <h1>Number of days with High Salinity</h1>
                <div class="top-section">
                    <div class="radio-buttons">
                        <p>Salt Type:</p>
                        <div>
                            <span>
                                <input type="checkbox" id="Chloride" name="drone"><label for="Chloride">Chloride</label>
                            </span>
                            <span>
                                <input type="checkbox" id="Sodium" name="drone"><label for="Sodium">Sodium</label>
                            </span>
                        </div>
                    </div>

                    <div class="vertical-border"></div>
                        
                    <div class="slidecontainer">
                        <p>Time Range</p>
                        <div class="grey-box">FORECAST(days)</div>
                        <input type="range" min="1" max="100" value="100" class="slider" id="myRange2.${Number}">
                        <div class="ticks">
                            <!-- Create tick marks at increments of 10 -->
                            <div class="tick"><span class="tick-label">0</span></div>
                            <div class="tick"><span class="tick-label">10</span></div>
                            <div class="tick"><span class="tick-label">20</span></div>
                            <div class="tick"><span class="tick-label">30</span></div>
                            <div class="tick"><span class="tick-label">40</span></div>
                            <div class="tick"><span class="tick-label">50</span></div>
                            <div class="tick"><span class="tick-label">60</span></div>
                            <div class="tick"><span class="tick-label">70</span></div>
                            <div class="tick"><span class="tick-label">80</span></div>
                            <div class="tick"><span class="tick-label">90</span></div>
                            <div class="tick"><span class="tick-label">100</span></div>
                            
                        </div>
                    </div>
                </div>

                <div class="horizontal-divider"></div>
                <div class="top-barcharts">
                    <div id="dashboard-barchart-1.${Number}"></div>
                    <div id="dashboard-barchart-2.${Number}"></div>
                </div>
                <div id="dashboard-barchart-3.${Number}"></div>
                </div>
                    `
                }
                document.addEventListener('DOMContentLoaded', function() {
            // Insert the result of createpanel() into the container
            for(let i = 1; i <4; i++)

            document.getElementById(`Location${i}-container`).innerHTML = createpanel(i);
        });
       
            </script>
            <!-- Link to external JavaScript file -->
    <script type="module" src="{{url_for('static',filename='js/dashboard.js')}}"></script>
        </div>
    </div>
</div>

{% endblock %}