<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <!-- Imports Material Components -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@material/layout-grid@latest/dist/mdc.layout-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/@material/card@latest/dist/mdc.card.css">
    <link rel="stylesheet" href="https://unpkg.com/@material/ripple@latest/dist/mdc.ripple.css">
    <script type="importmap">
        {
            "imports": {
                "@material/web/": "https://esm.run/@material/web/"
            }
        }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <!-- jquery function to create an "active" class in span for the currently active navbar page -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(function(){
            $('a').each(function(){
                if ($(this).prop('href') == window.location.href) {
                    $(this).find('span').addClass('active');
                }
            });
        });
    </script>
    <!-- Material Components Import Ends Here -->
</head>
<body class="{% if 'loggedin' in session %}loggedin{% else %}loggedout{% endif %}">
    <nav class="nav">
        <div class="wrap">
            <div class="logo">
                <h1><a href="{{ url_for('index') }}"><img src="static/images/SaltCastLogo.png" alt="logo" style="width:10em; height:4em;"></a></h1>
            </div>
            <div class="links">
                <a href="{{ url_for('map') }}" class="link"><span>Map</span></a>
                <a href="{{ url_for('aboutus') }}" class="link"><span>About Us</span></a>
                {% if 'loggedin' in session %}
                <a href="{{ url_for('logout') }}" class="link"><span>Logout</span></a>
                {% else %}
                <a href="{{ url_for('login') }}" class="link"><span>Login</span></a>
                {% endif %}
            </div>
            <div class="user">
                <div class="user-wrap">
                    <div class="avatar" style="background-image: url('static/images/SaltCastLogoSmall.png');">
                        <a href="{{ url_for('profile') }}" class="link"></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
