{% extends "layout.html" %}

  {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" />
    <script type="module" src="{{url_for('static',filename='js/script.js')}}"></script>

    <!-- google icon css ( used in searchbar )-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  {% endblock %}
 
  {% block content %}

  <!-- search bar -->
  <div class="search-wrapper">
    <p>Zoom into your desired area for state specific pins, or zoom further for site specific pins</p>
    <div class="search">
      <span class="search-icon material-symbols-outlined">search</span>
      <input class="text" id="search-input" autocomplete="off" placeholder="Search Location">
      <button class="material-symbols-outlined" onclick="document.getElementById('search-input').value = ''" style="border:none; background-color: rgba(255, 255, 255, 0); cursor: pointer;">close</button>
    </div> 
  </div>
  <!-- search bar end -->

  <div class="map-page-wrapper">
    <!-- map container -->
    <div id="map-container">

      <div id="map" style="height: 95vh; width: 100%;"></div>
      
      <!-- popup -->
      <div id="popup"></div>
      <div id="errorpopup"></div>
      <div id="erroroverlay" class="overlay"></div>
      <div id="overlay" class="overlay"></div>
    </div>

    <div class="new-legend-container">
      <div class="legend-box">
        <div id="legend-heading">
          <p>Legend</p>
        </div>

        <div class="legend-content">
          <div class="content-scroll">
            <div class="Usage-heading" id="Select All UseTypes">
              <p>Usage Category</p>
              <input id="types-checkbox" type="checkbox" checked="checked" name="type" onchange="selectAll('Select All UseTypes', this)">
            </div>
            <hr>
            <div class="content-split">
              <div class="left-content">

                <span class="usage-type" id="Agriculture">
                  <span>
                    <img src="static/images/wheat.png" alt="Agriculture Icon" class="icon">
                    <p>Agriculture</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Agriculture')">
                </span>

                <span class="usage-type" id="Aquaculture">
                  <span>
                    <img src="static/images/waterdroplet.png" alt="Aqua Culture Icon" class="icon">
                    <p>Aqua Culture</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Aquaculture')">
                </span>
                <span class="usage-type" id="Commercial">
                  <span>
                    <img src="static/images/dollar.png" alt="Commercial Icon" class="icon">
                    <p>Commercial</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Commercial')">
                </span>
                <span class="usage-type" id="Fossil Power">
                  <span>
                    <img src="static/images/flame.png" alt="Fossil Power icon" class="icon">
                    <p>Fossil Power</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Fossil Power')">
                </span>
                <span class="usage-type" id="Industrial">
                  <span>
                    <img src="static/images/factory.png" alt="Industrial Icon" class="icon">
                    <p>Industrial</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Industrial')">
                </span>
                <span class="usage-type" id="Irrigation">
                  <span>
                    <img src="static/images/irrigation.png" alt="Irrigation Icon" class="icon">
                    <p>Irrigation</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Irrigation')">
                </span>
              </div>

              <div class="right-content">
                <span class="usage-type" id="Manufacturing">
                  <span>
                    <img src="static/images/nuclearicon.png" alt="Manufacturing Icon" class="icon">
                    <p>Manufacturing</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Manufacturing')">
                </span>
                <span class="usage-type" id="Mining">
                  <span>
                    <img src="static/images/pickaxe.png" alt="Mining icon" class="icon">
                    <p>Mining</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Mining')">
                </span>
                <span class="usage-type" id="Municipal">
                  <span>
                    <img src="static/images/institution.png" alt="Municipal Icon" class="icon">
                    <p>Municipal</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Municipal')">
                </span>
                <span class="usage-type" id="Nuclear Power">
                  <span>
                    <img src="static/images/power.png" alt="Nuclear Power Icon" class="icon">
                    <p>Nuclear Power</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Nuclear Power')">
                </span>
                <span class="usage-type" id="Other">
                  <span>
                    <img src="static/images/water-bottle.png" alt="Other Icon" class="icon">
                    <p>Other</p>
                  </span>
                  
                  <input type="checkbox" checked="checked" name="type" onchange="legendFunc('Other')">
                </span>
              </div>
            </div>

            <div class="Salinity-heading" style="margin: 2em auto auto auto;">
              <p>Baseline Salinity</p>
              <input type="checkbox" checked="checked">
            </div>
            <hr>
            <div class="content-split">
              <div class="left-content">
                <span class="usage-type">
                  <p>Tidal fresh (&lt;0.5)</p>
                  <input type="checkbox" checked="checked">
                </span>

                <span class="usage-type">
                  <p>Oligohaline (0.5 - 5)</p>
                  <input type="checkbox" checked="checked">
                </span>

                <span class="usage-type">
                  <p>Mesohaline (5 - 18)</p>     
                  <input type="checkbox" checked="checked">
                </span>
              </div>

              <div class="right-content">
                <span class="usage-type">    
                  <p>Polyhaline (18 - 30)</p>
                  <input type="checkbox" checked="checked">
                </span>

                <span class="usage-type">
                  <p>Euhaline (>30)</p>
                  <input type="checkbox" checked="checked">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="long-short-term">
        <span>
          <input type="radio" name="term" checked="checked" onclick="swapBackground('short')"><label>Short Term</label>
        </span>
        <span>
          <input type="radio" name="term"  onclick="swapBackground('long')"><label>Long Term</label>
        </span>
      </div>

      <div class="range-box" id="range-box"></div>

      <button id="legend-btn">Pin Chesapeake Bay Sites to Dashboard</button>

    </div>

  </div>
{% endblock %}