{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accountPage.css') }}">

<div class="dashboard-flex-container">
    <div class="left-panel">
        <div class="center-container">
            <h6>Hello,</h6>
            <h1>{{ session.get('username') }}</h1>
            <div class="line"></div>

            <div class="bottom">
                <h5>Account</h5>
                <div class="line"></div>
                <h5>Manage Subscriptions</h5>
                <div class="line"></div>
                <h5>Financial & Payments</h5>
                <div class="line"></div>
                <h5>Preferences</h5>
                <div class="line"></div>
                <h5>Notifications</h5>
                <div class="line"></div>
                <h5><a href="{{ url_for('logout') }}">Log Out</a></h5>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-container">
            
        </div>
    </div>
</div>

{% endblock %}