<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
	</head>
	<body>
		<form action="{{ url_for('register') }}" method="post" autocomplete="off"></form>
			<div class="register-form-container">
				<div class="offset">
					<!-- Header Start -->
					<div class="flex-container">
						<div class="main-title">Get Started with&nbsp;</div>
						<div class="saltcast">SaltCast</div>
						<div class="main-title">.</div>
					</div>

					<h3>Create an Account</h3>

					<!-- Header End -->

					<div class="flex-container">
						<input type="text" name="fname" placeholder="First Name" required>
						<input type="email" name="email" placeholder="Email Address" required>
						<input type="password" name="password" placeholder="Password" required>
					</div>
					<div class="flex-container">
						<input type="text" name="lname" placeholder="Last Name" required>
						<input type="text" name="org" placeholder="Organization" required>
						<input type="password" name="password-again" placeholder="Retype Password" required>
						
					</div>
						<div class="msg">{{ msg }}</div>
				</div>
			</div>

			<div class="tags-container">
				<div class="offset">
					<h3>Select Account Type</h3>

					<input type="text" name="tags" placeholder="Tags" required>
					<input type="submit" value="Register">
				</div>
			</div>
		</form>
	</body>
</html>